@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: pink;
  font-family: "Comic Neue", cursive;
}

.comic-neue-light {
  font-family: "Comic Neue", cursive;
  font-weight: 300;
  font-style: normal;
}
